<h1>Transformations</h1>
<ul>
<% @transformations.each do |t| %>
<li><%= link_to t.name, transformation_path(t) %></li>
<% end %>
</ul>
<%= link_to "New Transformation", new_transformation_path %><br><br>
<%= link_to 'Home', home_path %>