<h1>Transformation Details</h1>
<h2>Name: <%= @transformation.name %></h2>
<h2>Required Transformations: <%= @transformation.required_transformations %></h2><br>
<%= link_to "<--Back", transformations_path %>
